---
import Layout from "../layouts/Layout.astro";
import Seccion from "../components/Seccion.astro";
import Tarjeta from "../components/Tarjeta.astro";
import { Image } from "astro:assets";
import qr from "../assets/qr-code.png";
---

<Layout>
  <main>
    <div>
      <Seccion titulo="Participa" acento="verde">
        <p class="descripcion">
          Se aplicará un examen selectivo en modalidad <strong
            >presencial</strong
          > en la
          <strong>Facultad de Ciencias</strong> campus pedregal de la UASLP a todas
          las personas que se hayan inscrito previamente
        </p>
        <Tarjeta colorFondo="cremaOscuro" class="fecha" alineado="center">
          <h3>📅 FECHA DEL SELECTIVO</h3>
          <p>
            <span>02 / 05 / 2026</span>
            <span>10:00 am</span>
          </p>
        </Tarjeta>
        <p>
          Para entidades fuera de la capital favor de contactar a un asesor.
        </p>
      </Seccion>
      <Seccion titulo="Inscríbete" acento="naranja">
        <p>Regístrate usando el siguiente formulario:</p>

        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSflTn_NNWJ7HysPiwiGD6nd9SbzhUTZOJUWtm1ywdAX-19TFg/viewform"
          >https://forms.gle/Jh9qiGiP3qfuQcAw9</a
        >
        <p>
          Al registrarte <strong>ten a la mano</strong> tu constancia de estudios
          vigente (ciclo escolar 2023-2024), en formato PDF.
        </p>
        <Image src={qr} alt="codigo-qr" loading="eager" />
      </Seccion>
    </div>

    <div>
      <Seccion titulo="Bases" acento="negro">
        <ol>
          <li>
            <span>(1)</span>Estar inscrito en alguna institución de educación
            secundaria o bachillerato incorporada al plan de estudios vigente
            del estado de San Luis Potosí, <strong
              >desde el segundo año de secundaria hasta el penúltimo año de
              bachillerato.</strong
            >
          </li>
          <li>
            <span>(2)</span> No estar inscrito en ninguna institución de educación
            superior
            <strong>para noviembre 2026.</strong>
          </li>
          <li>
            <span>(3)</span>El registro deberá contener: nombre completo, nivel
            de estudio, institución de procedencia y una <strong
              >constancia</strong
            > que avale el nivel de estudio que cursa o su credencial escolar.
          </li>
        </ol>
      </Seccion>
    </div>
  </main>
</Layout>

<style>
  img {
    width: 200px;
    height: auto;
  }

  main {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
  }

  :global(.fecha) {
    max-width: 400px;
    height: 60px;
  }

  :global(.fecha h3) {
    color: var(--naranja);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0px;
  }

  /* Estilo para las bases */
  ol {
    list-style: none;
    padding: 0;
  }
  ol li {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    display: block;
  }
  ol span {
    color: var(--naranja);
    font-weight: bold;
    margin-right: 10px;
    display: inline;
  }
  ol strong {
    display: inline;
  }

  @media (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }
  }
</style>
